.bold_caslon{
  font-family: Caslon Old Face Heavy BT;
  font-weight : bold;
  /*font-size: 1.5vw;*/
  font-size: 6vw;
  /*line-height: 2.7vw;*/
  /*line-height: 50px;*/
  letter-spacing : 0.05vw;
  color : #231F20;
  color : rgb(35, 31, 32);
}

/*.bold
{
  font-family : Roboto;
  font-weight : bold;
  font-size: 1.5vw;
  line-height: 2.7vw;
  letter-spacing : 0.1vw;
  color : #231F20;
  color : rgb(35, 31, 32);
}*/

.archive_fulldisplay{
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  height: 100vh;

  border-radius : 14px  / 15px;
  -moz-border-radius : 14px  / 15px;
  -webkit-border-radius : 14px  / 15px;

}

.archive_question_header{
  flex: 1;
  color : black;
  text-align: center;
  padding-top: 7vh;
  padding-bottom: 3vh;
}

.navigation_bar{
  flex: 0.7;
  display: flex;
  width: 80vw;
  margin-bottom: 1em;
  border-bottom: 2px solid grey;
}

.nav{
  flex: 1;
  padding-left: 8%;
}

.question_display{
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  justify-content: center;
  overflow:auto;
  overflow-y: auto;
  padding-top: 1em;
  border: 2px solid black;
}


.question_box{
  border: 2px solid grey;
  width: 95%;
flex: 1;
}



.question_text{
  font-family : Roboto;
  font-size : 1.3vw;
  font-weight : bold;
  line-height : 1.4vw;
  color : black;
  flex: 2;
  letter-spacing : 0.1vw;
  padding: 1em;
  padding-bottom: 2em;
  width: 85%;
  /*padding-left: 4.5%;*/
}
