
.chat_master {
  width: 65%;
  height: 93vh;
  align-self: center;
  margin-left: 11%
}

.chat_part{
  height: 100%;
  display: flex;
  background : rgba(255, 240, 222, 1);
  border-radius: 15px;
  overflow:hidden;
  flex-direction: column;
  -webkit-animation: slideInChat 0.5s forwards;
    -moz-animation: slideInChat 0.5s forwards;
    animation: slideInChat 0.5s forwards;

  }
  @-webkit-keyframes slideInChat {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-moz-keyframes slideInChat {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInChat {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }




.center {
  flex: 1;
  display: flex;
}



.spacer_overlap{
  width: 10%;
  flex: 0.4;
}

.chat_top{
  /*flex:0.7;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  border-bottom: 3px solid lightgrey;
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
}

.chat_left_arrow{
    height: 20%;
    width: 20%;
    align-self: flex-start;
    margin-left: 15px;

}

.chat_left_arrow:hover{
  opacity: 0.5;
}

.wrapper{
  flex: 0.7;
  display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}


.chat_intro{
  flex: 1;
  color : black;
  text-align: left;
  font-size: 2vw;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
  max-width: 70%;
  /*margin-top:auto;
  margin-bottom:auto;*/
}

.chat_body{
  overflow: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1em;
}


.wrapper2{
  flex: 3;
  display: flex;
  justify-content: center;
}


.message_text{
  font-family : Roboto;
  font-size : 15px;
  font-weight : normal;
  line-height : 16px;
  color : black;
  letter-spacing : 0.75px;
  -webkit-animation: fadein 0.25s; /* Safari, Chrome and Opera > 0.52.0.5 */
      -moz-animation: fadein 0.25s; /* Firefox < 0.56 */
       -ms-animation: fadein 0.25s; /* Internet Explorer */
        -o-animation: fadein 0.25s;
           animation: fadein 0.25s;
}



.respond_body{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid lightgrey;
  width: 90%;
}

.wrapper3{
  flex:0.5;
  display: flex;
  justify-content: center;
}


.chat_response_body{
  flex: 6;
  background : white;
  resize: none;
  border: 0;
  height: 60%;
  padding: 1em;
  max-height: 110%;
  /*margin-right: 6%;*/
  font-size: 14px;
  border-radius: 20px;
  -webkit-appearance:none;
  margin-right: 1%;
}

/*button {
  flex: 1;
  background : rgba(238, 203, 174, 1);
  font-family : Roboto;
  font-size : 13px;
  font-weight : normal;
  line-height : 14px;
  border: 1px solid;
  height: 50vh;

}*/


.question_description{
  font-family : Roboto;
  font-size : 13px;
  font-weight : normal;
  line-height : 14px;
  flex: 2;
  color : grey;
  letter-spacing : 0.75px;
  width: 80%;
  padding-left: 4.5%;
}

/*THIS IS NOW CHAT FOR FULLSCREEN*/
/*THIS IS NOW CHAT FOR FULLSCREEN*/
/*THIS IS NOW CHAT FOR FULLSCREEN*/
/*THIS IS NOW CHAT FOR FULLSCREEN*/
/*THIS IS NOW CHAT FOR FULLSCREEN*/
/*THIS IS NOW CHAT FOR FULLSCREEN*/
/*THIS IS NOW CHAT FOR FULLSCREEN*/
/*THIS IS NOW CHAT FOR FULLSCREEN*/


.chat_question_text{
    font-family : Roboto;
    font-size : 17px;
    font-weight : bold;
    line-height : 17px;
    color : black;
    flex: 2;
    letter-spacing : 0.75px;
    padding: 1em;
    width: 100%;
    padding-left: 4.5%;

}

.chat_whee{
  display: flex;
  max-width:100vw;
  max-height: 110vh;
  flex-direction: column;
  flex: 4;
}

/*.chat_box_full{

  background : rgba(255, 240, 222, 1);
  border-radius: 0px 39px 0px 0px;
  display: flex;
  height: 100vh;
  flex: 1;
  overflow: hidden;


}*/

.spacer{
  flex:0.5;
}


.chatprofiler
{
/*background-image : url('./public/profile.png');
background-repeat : no-repeat;*/
border-style: solid;
border-color: black;
border-width: 3px;
border-radius: 50%;
max-width:70px;
max-height:70px;
margin-bottom: 20px;
}


.chatmessageYOU{
  display: inline-block;;
  justify-content: center;
  align-self: flex-end;
  background : #EECBAE;
  background : rgba(238, 203, 174, 1);
  border-radius : 14px;
  -moz-border-radius : 14px;
  -webkit-border-radius : 14px;
  padding: 0.5em;
  max-width: 40%;
  margin-bottom: 5px;
  margin-top: 4px;
  margin-right: 1em;

  }
  textarea:focus {
      outline:none;
  }
  .chatmessageTHEM{
    display: inline-block;;
    justify-content: center;
    align-self: flex-start;
    background : #EECBAE;
    background : rgba(238, 203, 174, 1);
    border-radius : 14px;
    -moz-border-radius : 14px;
    -webkit-border-radius : 14px;
    padding: 0.5em;
    max-width: 40%;
    margin-bottom: 5px;
    margin-top: 4px;
    margin-right: 1em;
    margin-left: 1em;
    }

.send_message{
  background : rgba(238, 203, 174, 1);
  border-radius : 12px;
  -moz-border-radius : 12px;
  -webkit-border-radius : 12px;
  margin: .4em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  cursor: pointer;
}


.send_message:hover, .send_message:focus, .send_message:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #C6AB94;
}

    /*THIS IS NOW CHAT FOR SHAREDSCREEN*/
    /*THIS IS NOW CHAT FOR SHAREDSCREEN*/
    /*THIS IS NOW CHAT FOR SHAREDSCREEN*/
    /*THIS IS NOW CHAT FOR SHAREDSCREEN*/
    /*THIS IS NOW CHAT FOR SHAREDSCREEN*/
    /*THIS IS NOW CHAT FOR SHAREDSCREEN*/
    /*THIS IS NOW CHAT FOR SHAREDSCREEN*/
    /*THIS IS NOW CHAT FOR SHAREDSCREEN*/



.chat_box_half1{
  background : rgba(255, 240, 222, 1);
  border-radius: 39px 5px;
  margin-right: -11.5%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  position: relative;
  /*position: relative;*/
  /*height: 100%;
  width: 100%;
  overflow:hidden;*/
}

.chat_box_half2{
  background : rgba(225, 224, 210, 1);
  border-radius: 39px 5px;
  /*margin-right: -7%;*/
  margin-right: -55px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  position: relative;

}


.smaller_chat_question{
margin-left: 1%;
padding-top:8vh;
color:black;
font-weight: normal;

font-size: 14px;
font-family : Roboto;
font-weight : normal;
line-height : 17px;
color : black;
/*flex: 2;*/
letter-spacing : 0.75px;
padding: 15px;
padding-bottom: 10px;
width: 65%;
padding-top:60px;


}


.chatprofiler_chat1
{
/*background-image : url('./public/profile.png');
background-repeat : no-repeat;*/
border-style: solid;
border-color: black;
border-width: 3px;
border-radius: 50%;
max-width:70px;
max-height:70px;
position:absolute;
  top:0;
  left:0;
  margin-left: 24vw;
  margin-top: 2vh;
}



.chatmessageYOU_shared{
  display: flex;
  justify-content: center;
  align-items: center;
  background : #EECBAE;
  background : rgba(238, 203, 174, 1);
  border-radius : 12px;
  -moz-border-radius : 12px;
  -webkit-border-radius : 12px;
  /*height: 10%;*/
  padding: 0.5em;
  max-width: 40%;
  margin-bottom: 7%;
  align-self: flex-end;
    /*padding-left: 0.7em;*/
  }

  .chatmessageTHEM_shared{
    /*display: flex;
    justify-content: center;
    align-items: center;
    background : #EECBAE;
    background : rgba(238, 203, 174, 1);
    border-radius : 12px;
    -moz-border-radius : 12px;
    -webkit-border-radius : 12px;
    padding: 0.5em;
    max-width: 45%;
    position:absolute;
      top:0;
      left:0;
      margin-left: 2vw;
      margin-top: 12vh;
      padding-left: 0.7em;*/

      display: flex;
      justify-content: center;
      align-items: center;
      background : #EECBAE;
      background : rgba(238, 203, 174, 1);
      border-radius : 12px;
      align-self: left;
      -moz-border-radius : 12px;
      -webkit-border-radius : 12px;
      /*height: 10%;*/
      padding: 0.5em;
      max-width: 40%;
      margin-bottom: 7%;
    }

    /*MINIMIZE CHAT1*/
    /*MINIMIZE CHAT1*/
    /*MINIMIZE CHAT1*/
    /*MINIMIZE CHAT1*/
    /*MINIMIZE CHAT1*/

    .chat_part_minimized{
      flex: 3.17;
      max-width:100vw;
      /*max-height: 110vh;*/
      margin-right: -3%;
      display: flex;

    }

    .chat_box_half1_minimize{
      background : rgba(255, 240, 222, 1);
      border-radius: 39px 5px;
      margin-right: -10%;
      display: flex;
      flex-direction: column;
      flex: 0.15;
      position: relative;
    }
