.menu_attempt{
  float:right;
  position: absolute;
  right: 0;
}


.menu_container{
  /*flex: 4;*/
  display: flex;
  flex-direction: column;
  width: 10vw;
  padding-right: 3vw;
  max-height: 100vh;
  /*flex: 0.5;*/

}

.menu_icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8vh;
  padding-top: 4vh;
  cursor: pointer;
  /*margin-bottom: 13vh;*/
}

.menu_bold{
  text-align: center;
  font-family : Roboto;
  font-weight : bold;
  font-size : 14px;
  line-height : 15px;
  letter-spacing : 4px;
  color : #231F20;
  color : rgb(35, 31, 32);
  padding-top: 1vh;

}

.profile
{
/*background-image : url('./public/profile.png');
background-repeat : no-repeat;*/
border-style: solid;
border-color: black;
border-width: 5px;
border-radius: 50%;
max-width:100px;
max-height:100px;

}


.icon{
  /*max-width:70px;
  max-height:70px;*/
  max-width: 5vw;
  max-height: 5vw;
  cursor: pointer;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.icon_toobig{
  /*max-width:50px;
  max-height:50px;*/
  max-width: 4vw;
  max-height: 4vw;
  cursor: pointer;

}


.menu_icon:hover{
  opacity: 0.5;
}
