.tabs_bar {
  display: flex;
  flex-direction: column;
  margin-left: -3vw;
  width: 8vw;
}

.tab {
  width: 100%;
  background-color: #ededed;
  height: 25%;
  font-family: Roboto;
  font-weight: bold;
  z-index: 2;
  border-radius: 0px 39px 39px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;

}

.tab:hover{
  width: 9vw;
}


.notification {

  margin-bottom: 30px;
  margin-left: 45px;
  flex: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.notification_number_grey {
  color: white;
  height: 20px;
  width: 20px;
  border-radius:50%;
  background-color: #ededed;
}

.notification_number {
  color: white;
  height: 20px;
  width: 20px;
  border-radius:50%;
  background-color: red;
}

.chatting_partner {
  -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    margin-bottom: 75px;
    margin-left: 23px;
    font-size: 1.9vw;
    letter-spacing: 0.15vw;
    color: black;
    height: 30px;
}
