@charset "utf-8";

	.NormalCharacterStyle2
{
	font-family : Roboto;
	font-size : 13px;
	line-height : 23.95px;
	letter-spacing : 1.3px;
	color : #A7A9AC;
	color : rgb(167, 169, 172);
}
.NormalCharacterStyle4
{
	font-family : Roboto;
	font-size : 13px;
	line-height : 23.95px;
	letter-spacing : 1.3px;
	color : #A7A9AC;
	color : rgb(167, 169, 172);
}
.NormalCharacterStyle3
{
	font-family : Roboto;
	font-size : 13px;
	line-height : 23.95px;
	letter-spacing : 1.3px;
	color : #A7A9AC;
	color : rgb(167, 169, 172);
}
.NormalCharacterStyle5
{
	font-family : Roboto;
	font-size : 13px;
	line-height : 23.95px;
	letter-spacing : 1.3px;
	color : #A7A9AC;
	color : rgb(167, 169, 172);
}
.NormalCharacterStyle1
{
	font-family : Myriad Pro;
	font-size : 11px;
	line-height : 12.76px;
	color : #939598;
	color : rgb(147, 149, 152);
}
.NormalCharacterStyle6
{
	font-family : Roboto Bold;
	font-weight : bold;
	font-size : 18px;
	line-height : 20.7px;
	letter-spacing : 7.2px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.XMLID_1009_
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-radius : 12px;
	-moz-border-radius : 12px;
	-webkit-border-radius : 12px;
}
.XMLID_3500_
{
	background-image : url(XMLID_3500_.png);
	background-repeat : no-repeat;
}
.XMLID_3505_
{
	background : #EECBAE;
	background : rgba(238, 203, 174, 1);
	border-radius : 3px;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
}
.XMLID_3493_
{
	background : #EECBAE;
	background : rgba(238, 203, 174, 1);
	border-radius : 3px;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
}
.XMLID_3508_
{
	background : #E6E7E8;
	background : rgba(230, 231, 232, 1);
	border-radius : 12px;
	-moz-border-radius : 12px;
	-webkit-border-radius : 12px;
}
.XMLID_3506_
{
	background : #E0E0E0;
	background : rgba(224, 224, 224, 1);
	border-radius : 9px;
	-moz-border-radius : 9px;
	-webkit-border-radius : 9px;
}
.XMLID_3494_
{
	background-image : url(XMLID_3494_.png);
	background-repeat : no-repeat;
}
.XMLID_3499_
{
	background : #EECBAE;
	background : rgba(238, 203, 174, 1);
	border-radius : 3px;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
}
.XMLID_3483_
{
	background : #B4A89D;
	background : rgba(180, 168, 157, 1);
	border-radius : 9px;
	-moz-border-radius : 9px;
	-webkit-border-radius : 9px;
}
.XMLID_3488_
{
	background-image : url(XMLID_3488_.png);
	background-repeat : no-repeat;
}
.NormalCharacterStyle
{
	font-family : Roboto Bold;
	font-weight : bold;
	font-size : 13px;
	line-height : 15.2px;
	letter-spacing : 5.2px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
