
.other1{
  flex: 1;
  display:flex;
  justify-content: center;
}

.other2{
  flex: 0.9;
}


.lend_ear_fulldisplay{
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  height: 100vh;
  width: 100vw;

  border-radius : 14px  / 15px;
  -moz-border-radius : 14px  / 15px;
  -webkit-border-radius : 14px  / 15px;
  /*margin-left: 10vw;
  margin-right: 10vw;*/
  padding-left: 5vw;
  padding-right: 2vw;

}
